<a href="https://colab.research.google.com/github/JFMilan06/58013LinearAlgebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Indentation

In [2]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

#Python Comments

In [4]:
#This is a comment
print("Hello, world")

Hello, world

#Python Variable

In [5]:
x = 1
a, b=0,-1
a,b,c=0,-1,2

# Casting

In [7]:
b="sally"#this is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

# Type()function

In [8]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# "Double quotes" or 'Single' quotes

In [ ]:
y="John"
y='John'

# Case sensitive

In [ ]:
a=4
A="Sally"
#A will not overwrite a

#Multiple Variables

In [9]:
x,y,z ="one","two","three"
print(x)
print(y)
print(z)

one
two
three

#One Value to Multiple Variables

In [10]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

# Output Variables

In [12]:
x="enjoying"
print("Python programming is " + x)

Python programming is enjoying

# Other way:

In [13]:
x= "Python is "
y= "enjoying"
z= x+y
print(z)

Python is enjoying

#Arithmetic Operations

In [14]:
x=5
y=3
print(x+y)

x=5
y=3
sum=x+y
sum

8

8

#Assignment Operators

In [15]:
a,b,c=0,-1,6
c%=3
c

0

#Comparison Operators

In [16]:
a,b,c=0,-1,6
a>b and c>b

True

#Logical Operators

In [17]:
a,b,c=0,-1,6
a>b and c>b

True

#Identity Operators

In [18]:
a,b,c=0,-1,5
a is c

False

#Bitwise Operators

In [22]:
a,b,c=0,-1,5
c>>1

2